// ==========================================================================
// Card Header 
// ==========================================================================


.card {
    .card-header {
        padding: 0.7em;
        border-bottom: 1px solid $color-gray-light;
        color: $color-text-header;
    }
}