// ==========================================================================
// VARIABLES
// ==========================================================================

//COLORS
$color-base: #ffffff;
$color-gray-default: #f1f1f1;
$color-gray-light: #ebebeb;
$color-gray-shadow: #333333;
$color-text-header: #737c84;
$color-text-footer: #b4b4b4;
$color-blue: #69a3ff;
$color-orange: #ff9632;
$color-red: #ed1946;
